<footer class="footer">

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">
          <div class="form-group">
            <input type="email" class="form-control mr-1" placeholder="Your e-mail here"></div>
          <button type="submit" class="btn btn-outline-primary">Subscribe</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted">© 2018 Game price monitor.</p>
      </div>
    </div>

  </div>

</footer>
