root = true

[*]
charset = utf-8
trim_trailing_whitespace = true

[{src/**.tsx, public/*.html}]
indent_style = space
indent_size = 4
insert_final_newline = true

[src/**.css]
indent_style = space
indent_size = 2
insert_final_newline = true

# Matches the exact files either package.json or .travis.yml
[{*.json,.travis.yml}]
indent_style = space
indent_size = 2