root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[.travis.yml]
indent_size = 2
insert_final_newline = false

[.yarnrc]
insert_final_newline = false