**/build
**/dist
**/node_modules

.firebase
.firebaserc
firestore.rules
storage.rules

.idea
.vscode

.gitignore
.npmignore
.eslintignore
.prettierignore
.editorconfig
.yarnrc
*.lock

.DS_Store

*.xml

*.ico
*.txt
*.png
*.svg
*.log

.env*