<!--<mat-toolbar color="primary">
  <h1 fxFlex="20%">
    {{title}}
  </h1>
  <mat-form-field fxFlex="80%" appearance="standard" floatLabel="never" style="width: 100%;">
    <input matInput type="search" placeholder="Search game" [formControl]="autoCompleteControl" [matAutocomplete]="auto"
           (keyup)="updateOptions()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-toolbar>-->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">{{title}}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
      <form class="form-inline my-2 my-lg-0 w-100">
        <input class="form-control mr-md-12 w-100" type="search" placeholder="Search game"
               [formControl]="autoCompleteControl"
               (keyup)="updateOptions()">
      </form>
    </div>
  </div>
</nav>
