<!--<mat-toolbar color="primary">
  <h1 fxFlex="20%">
    {{title}}
  </h1>
  <mat-form-field fxFlex="80%" appearance="standard" floatLabel="never" style="width: 100%;">
    <input matInput type="search" placeholder="Search game" [formControl]="autoCompleteControl" [matAutocomplete]="auto"
           (keyup)="updateOptions()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-toolbar>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{{title}}</a>
  <form class="col-lg-10">
    <input class="form-control" type="search" placeholder="Search game" [formControl]="autoCompleteControl"
           (keyup)="updateOptions()">
  </form>
</nav>
