.App-header {
    position: fixed;
    z-index: 1;
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    width: 100%;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.App-header-toolbar {
    min-height: 2rem;
}

.App-logo {
    margin: 0 0.5rem 0 0.5rem;
}

.App-title {
    cursor: pointer;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
}

.App-header-search {
    flex-grow: 1;
    height: 1rem;
    margin: 0px 0.5rem 0px 0.5rem;
    padding: 0.25rem;
    border: 0;
    border-radius: 0.2rem;
    background-color: var(--bg-primary);
}

.LanguageMenu-logo {
    margin-right: 0.25rem;
    border: 0;
    color: var(--text-secondary);
    background-color: transparent;
    font-size: 0.8rem;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .App-header {
        bottom: 0;
    }

    .App-title {
        display: none;
    }
}
